[
  {server, [
    {cacertfile, "/etc/rabbitmq/ssl/CACert.pem"},
    {certfile,   "/etc/rabbitmq/ssl/ServerCert.pem"},
    {keyfile,    "/etc/rabbitmq/ssl/ServerKey.pem"},
    {secure_renegotiate, false},
    {verify, verify_false},
    {fail_if_no_peer_cert, false}
  ]},
  {client, [
    {cacertfile, "/etc/rabbitmq/ssl/CACert.pem"},
    {certfile,   "/etc/rabbitmq/ssl/ServerCert.pem"},
    {keyfile,    "/etc/rabbitmq/ssl/ServerKey.pem"},
    {secure_renegotiate, false},
    {verify, verify_no},
    {fail_if_no_peer_cert, false}
  ]}
].